---
layout: default
---

<main class="wrapper">

  {% if page.header_video %}
    <div class="header-video video">
      {{ page.header_video }}
    </div>
  {% else %}
    <img src="{{ site.github.url }}/assets/img/{{ page.collection }}/{{ page.main_image }}">
  {% endif %}

  <div class="card">
    <h1 class="title title-page title-inset {% if page.header_video %}title-lower{% endif %}">{{ page.title }}</h1>
    <div class="event-content {% if page.header_video %}content-lower{% endif %}">
      {{ content }}
    </div>
    {% if page.images or page.videos %}
    <div class="images">
    {% for image in page.images %}
      <img src="{{ site.github.url }}/assets/img/{% if page.base_url_override %}{{ page.base_url_override }}{% else %}{{ page.collection }}{% endif %}/{{ image }}">
    {% endfor %}
    {% for video in page.videos %}
      <div class="video">
        {{ video }}
      </div>
    {% endfor %}
    </div>
    {% endif %}

  </div>

  <script type="text/javascript" src='{{ site.github.url }}/assets/js/lightbox.js'></script>

</main>
