---
layout: default
---

<main class="wrapper">


  <img src="{{ site.github.url }}/assets/img/{{ page.collection }}/{{ page.main_image }}">

  <div class="card">
    <h1 class="title title-page title-inset">{{ page.title }}</h1>
    <div class="event-content">
      {{ content }}
    </div>
    {% if page.images or page.videos %}
    <div class="images">
    {% for image in page.images %}
      <img src="{{ site.github.url }}/assets/img/{{ page.collection }}/{{ image }}">
    {% endfor %}
    {% for video in page.videos %}
      <div class="video">
        {{ video }}
      </div>
    {% endfor %}
    </div>
    {% endif %}

  </div>


</main>
